<a href="https://colab.research.google.com/github/gleidsonfagno/3-column-preview-card-component-main/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1-Variaveis

In [ ]:
idade= 30
print(idade)

nome = "fagno"
print(nome)

30
fagno

2.2. Tipos de dados
Tipos numericos: interiros (int) e decimais (float):

In [ ]:
preco = 1000
tipo_preco = type(preco)

print(preco)
print(tipo_preco)

juros = 9.5
tipo_juros = type(juros)

print(juros)
print(tipo_juros)

preco = 1000
print(type(preco))

1000
<class 'int'>
9.5
<class 'float'>
<class 'int'>

Tipos de texto: strings(str)

t

In [ ]:
primeiro_nome = "fagno"
tipo_primeironome = type(primeiro_nome)

print(type(primeiro_nome))
print(tipo_primeironome)

<class 'str'>
<class 'str'>

Tipos logicos: booleanos(bool);

In [ ]:
usuario_maior_de_idade = False
print(usuario_maior_de_idade)
print(type(usuario_maior_de_idade))

False
<class 'bool'>

Tipo vazio(NoneType):

In [ ]:
telefone_fixo =None
print(telefone_fixo)
print(type(telefone_fixo))

None
<class 'NoneType'>

Numeros

In [ ]:
qtd_items_carrinho_compra = 0
qtd_items_carrinho_compra = qtd_items_carrinho_compra + 1
print(qtd_items_carrinho_compra)
qtd_items_carrinho_compra = qtd_items_carrinho_compra + 1
print(qtd_items_carrinho_compra)

1
2

In [ ]:

qtd_items_carrinho_compra = 0
qtd_items_carrinho_compra += 1
print(qtd_items_carrinho_compra)
qtd_items_carrinho_compra += 1
print(qtd_items_carrinho_compra)

1
2

In [ ]:
a = 3
b = 2
c = a / b
print(c)
print(type(c))
d = a // b
print(d)
print(type(d))

1.5
<class 'float'>
1
<class 'int'>

3.4. Conversão
Podemos converter os tipos numéricos entre si utilizando o método nativo int , float e 
complex :

In [ ]:
print(int(3.9))
print(float(10))
print(complex(1))

3
10.0
(1+0j)

4. Strings

In [ ]:
lat = '-22.005320'
log = '47.891040'

laton = lat + log
print(laton)

-22.00532047.891040

In [ ]:
nome = "gleidson"
sobrenome = "fagno"

apresentacao = f'ola {nome} {sobrenome}';
apresentacao1 = nome + sobrenome

print(apresentacao1)
print(str(apresentacao))
print(nome)

gleidsonfagno
ola gleidson fagno
gleidson

Fatiamento fixo

In [ ]:
email = "gleidsonfagno@gmail.com"

print( "normal: " + email[0])
print( email[11])

print( "de tras para frente: " + email[-0])
print( email[-1])

normal: g
n
de tras para frente: g
m

Fatiamento por intervalo

In [ ]:
email_usuario = email[0:13]
print(email_usuario)

email_provedor = email[13:30]
print(email_provedor)

gleidsonfagno
@gmail.com

METODOS

In [ ]:
endereco = 'Avenida Paulista, 1811, São Paulo, São Paulo, Brasil.'

# maiusculo: string.upper()
print(endereco.upper())


# posicao: string.find(substring)
posicao = endereco.find('Brasil')
print(posicao)



# substituição: string.replace(antigo, novo)
print(endereco.replace('Avenida', 'Av'))

AVENIDA PAULISTA, 1811, SÃO PAULO, SÃO PAULO, BRASIL.
46
Av Paulista, 1811, São Paulo, São Paulo, Brasil.

4.5. Conversão
Podemos converter strings em tipos numéricos e vice-versa

In [ ]:

idade = 19
print(type(idade))
idade = str(idade)
print(type(idade))

faturamento = 'R$ 35 mi'
print(faturamento)
print(type(idade))
faturamento = int(faturamento[3:5])
print(faturamento)
print(type(faturamento))

<class 'int'>
<class 'str'>
R$ 35 mi
<class 'str'>
35
<class 'int'>

5. Boleanos 

5.2. Definição
Armazenam valores lógicos:
True (verdadeiro);
False (falso)

In [ ]:
verdadeiro = True
print(verdadeiro)

falso = False
print(falso)

True
False

São resultados de comparações lógicas. Os operadores de comparação lógica são:
> (maior);
< (menor);
== (igual);
>= (maior ou igual);
<= (menor ou igual);
!= (diferente).

In [ ]:
saldo_em_conta = 200
valor_do_saque = 100
pode_executar_saque = valor_do_saque <= saldo_em_conta
print(pode_executar_saque)

True

In [ ]:
codigo_de_seguranca = '852'
codigo_de_seguranca_cadastro = '010'
pode_efetuar_pagamento = codigo_de_seguranca == codigo_de_seguranca_cadastro
print(pode_efetuar_pagamento)

False

5.3. Operações
As operações de variáveis booleanas são:
| (operador ou)
& (operador e)
not (operador não)
O conjunto de resultados de operações lógicas geralmente é resumido em uma tabela
chamada "tabela da verdade":

In [ ]:
 #Tabela da verdade do operador | (ou)
print(True | True)
print(True | False)
print(False | False)
print(False | True)

True
True
False
True

In [ ]:
#Exemplo: Tabela da verdade do operador & (e).

print(True & True)
print(True & False)
print(False & False)
print(False & True)

True
False
False
False

In [ ]:
#Exemplo: Tabela da verdade do operador not (não).
print(not True)
print(not False)

False
True

5 CONVESAO

In [ ]:
idade = 19
tipo_sangue = 'O-'
filhos = 0
telefone_fixo = None
telefone_fixo = ''
print(bool(idade))
print(bool(tipo_sangue))
print(bool(filhos))
print(bool(telefone_fixo))
print(bool(telefone_fixo))

True
True
False
False
False